.container{
  width:70% !important;
  max-width: 550px !important;
  height: 650px !important;
  margin-top:20px;
  margin-bottom:20px;
  border-radius: 8px;
  background: #ffe0a387;
  border-color: #f94848b8 !important;
  border-width: thick;
  border-style: solid;
}

.app {
  text-align: center;
  padding: 5%;
}

.app-header {
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: rgba(9, 4, 4, 0.71);
}

.app-link {
  color: #61dafb;
}

.card{
  margin-bottom: 10px;
  border: medium solid #c6261a78 !important;
}
.input{
  border: solid #c6261a78 !important;
  border-width: revert !important;
}
.input-card{
  border-bottom: 1px solid #c6261a78 !important
}
.form-group {
  margin-bottom: 0px ;
}
.submit-button{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #f94848a8 !important;
  border-color: #f94848b8 !important;
}
.success-button{
  background-color: #f94848a8 !important;
  border-color: #f94848b8 !important;
}
.cancel-button{
  background-color:#ffa515!important;
  border-color: #ffa515 !important;
}

.file-input{
  font-size: 10px;
}

.mb-1{
  font-size: 15px;
}

@media (max-width: 900px) {
  .container{
    width:70% !important;
    max-width: 650px !important;
    height: 100% !important;
  }
}

@media (max-width: 600px) {
  h1{
    font-size: 2rem !important;
  }
}
@media (min-width: 400px) {
  .form-group {
    margin-bottom: 5px !important;
  }
}
@media (max-width: 400px) {
  h1{
    font-size: 1.5rem !important;
  }
  .btn{
    padding: 0.2rem 0.75rem !important
  }
  .form-group {
    margin-bottom: 1rem;
  }
}

